body{
    background-color: rgb(5, 45, 45);
}

#box{
    border: 5px solid;
    height: 200px;
    width: 200px;
    padding: 10px;
    background-color: rgb(255, 190, 86);
    position: relative;
    left: 130px;
    width: 200px;
    height: 200px;
    font-size: xx-large;
    text-align: center;
    line-height: 200px;
    border-color: black;
    color: white;
    border-radius: 20px;
}

#increase{
    position: relative;
    top: 68px;
    height: 50px;
    width: 80px;
    background-color: rgb(0, 200, 0);
    color: white;
    border-radius: 10px;
    border: 2px solid black;
}

#increase:hover{
    background-color: rgb(0, 255, 0);
    cursor: pointer;
}

#reset{
    position: relative;
    top: 250px;
    right: 85px;
    height: 50px;
    width: 80px;
    background-color: rgb(200, 0, 0);
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    
}

#reset:hover{
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

#hidden{
    position: absolute;
    margin-left: 420px;
    margin-top: 110px;
    height: 50px;
    width: 80px;
    background-color: rgb(119, 0, 174);
    color: white;
    border-radius: 10px;
    border: 2px solid black;
    display: none;
}

#hidden:hover{
    background-color: rgb(174, 0, 255);
    cursor: pointer;
}

h1{
    font-family: Handjet;
    font-size: 80px;
    color: aliceblue;
    white-space: nowrap;

}

h6{
    white-space: nowrap;
    position: relative;
    bottom: 60px;
}

#vid{
    height: 500px;
    padding: 50px;
    position: relative;
    bottom: 100px;
    
}

@media only screen and (max-width: 768px) {
    /* Styles for tablets and smaller devices */
    .container {
      width: 100%;
      padding: 10px;
    }
    .element {
      font-size: 14px;
    }

    .buttons {
        width: 70px;
        height: 40px;
        font-size: 14px;
      }
  
      #box {
        width: 100%;
        height: auto;
        line-height: normal;
      }
  }

  
  @media only screen and (max-width: 480px) {
    /* Styles for mobile phones */
    .container {
      flex-direction: column;
    }
    .element {
      font-size: 12px;
    }
    .buttons {
        width: 60px;
        height: 35px;
        font-size: 12px;
      }
  
      #box {
        width: 100%;
        height: auto;
        line-height: normal;
      }
  }
  